/* li {
    list-style: none;
} */

.chatHistory {    
    font-size: 80%;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    padding: 2px;
}

.chatContainer {
    margin:0 auto;
    width: 50%;
    position: absolute;
    top: 450px;
    left: 25%;
    
}