.player {
    width: 50%;
    float: left;
}

.opponent {
    width: 50%;    
    float: right;
}   

.gameBoard {
    width: 85%;
    margin: 0 auto;
}

.water {    
    width: 9.6%;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 1px;
}

.opponentWater {
    opacity: 0.5;
    width: 9.6%;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 1px;
    
}