	/*-------------------------------------
	| gameboard
	-------------------------------------*/

	/* contains two boards and all ships -------------------------------*/
	.game {
		position: relative;
		border: solid 1px red;
		width: 1080px; height: 520px;
		margin: 20px auto;
	}

	/* contains two boards -------------------------------*/
	.board {
		display: flex;
		justify-content: space-between;
	}

	.screen {
		display: flex;
		justify-content: space-between;
		/* position: absolute; */
		/* top: 0; left: 0; */
		width: 1080px;
		z-index: 20; /* ship:10 -------------------------------*/
	}

	/* player board -------------------------------*/
	.player {
		width: 520px;
		margin: 0;
		border: solid 1px red;
	}

	.block {
		width: 50px; height: 50px;;
		float: left;
		border-style: solid;
		border-width: 1px;
		border-color: blue;
		border-radius: 1px;
		position: relative;
	}

	.snapGrid {
		width: 32px; height: 32px;
		position: absolute;
		top: 8px; left: 8px;
		border: solid 1px green;
		opacity: 0;
	}

	.water { width: 100%;}

	.occupied { opacity: .5;}

	.guess {
		width: 100%; height: 100%;
		position: absolute;
		top: 0; left: 0;
	}

	/*-------------------------------------
	| ship
	-------------------------------------*/

	.ship {
		position: absolute;
		left: 9px;
		border: solid 1px red;
		z-index: 10; /* on top of grid -------------------------------*/
	}

	.ship img { width: 100%; height: 100%;}

	.rotate { transform: rotate(90deg);}


	#ship1 { width: 240px; height: 32px; top: 9px;}
	#ship2 { width: 188px; height: 32px; top: 62px;}
	#ship3 { width: 137px; height: 32px; top: 114px;}
	#ship4 { width: 137px; height: 32px; top: 166px;}
	#ship5 { width: 84px; height: 32px; top: 218px;}


/*-----------------
| Login/ Logout
------------------*/
.hideLogout {
	visibility: hidden;
}

.showLogout {
	visibility: visible;
}


