
	body { line-height: 0px;}

	#start { padding: 5px 20px;}

	/*-------------------------------------
	| gameboard
	-------------------------------------*/
	body {
		font-family: 'Lato', sans-serif;
		background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
	}
	/* contains two boards and all ships -------------------------------*/
	.game {
		position: relative;
		/* border: solid 1px red; */
		width: 770px; height: 360px;
		margin: 20px auto;
	}

	.board {
		display: flex;
		justify-content: space-between;
		width: 770px; height: 360px;
	}

	.player, .opponent, .screen {
		width: 360px; height: 360px;
		line-height: 0;
	}

	.screen.player{
		position: absolute;
		top: 0;	left: 0;
		z-index: 20;
	}
	.screen.opponent {
		border: solid 1px red;
		position: absolute;
		top: 0;	right: 0;
		z-index: 20;
		} /* NOTE: to hide */

	.block {
		display: inline-block;
		border: solid 1px blue;
		border-radius: 5px;
		width: 36px; height: 36px;
		position: relative;
		margin: 0;
	}

	.block img { width: 100%; height: 100%; position: absolute;}

	.snap {
		width: 28px; height: 28px;
		position: absolute;
		top: 3px; left: 3px;
		border: solid 1px green;
	}

	.occupied { opacity: .5;}

	/*-------------------------------------
	| ship
	-------------------------------------*/

	.ship {
		position: absolute;
		left: 4px;
		border: solid 1px red;
		z-index: 10; /* on top of grid -------------------------------*/
	}

	.ship img { width: 100%; height: 100%; }

	.rotate { transform: rotate(90deg);}


	#ship1 { width: 64px; height: 28px; top: 5px;}
	#ship2 { width: 100px; height: 28px; top: 41px;}
	#ship3 { width: 100px; height: 28px; top: 77px;}
	#ship4 { width: 136px; height: 28px; top: 113px;}
	#ship5 { width: 172px; height: 28px; top: 149px;}


/*-----------------
| Login/ Logout
------------------*/
.hideLogout {
	visibility: hidden;
}

.showLogout {
	visibility: visible;
}
